body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column; // 수직 정렬
  background-color: white;
  padding: 10px 20px;
    

  .home_logo {
    display: flex;
    justify-content: space-between; // 로고와 MYPAGE 버튼 좌우 배치
    align-items: center;
    width: 100%;
    padding: 20px 0;

    .logo_image {
      width: 200px;
      height: auto;
    }

    .mypage-button {
      color: black;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 25px;
    }
  }

  .banner_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner_image {
      width: 100%;
    }
  }

  nav {
    width: 100%;
    display: flex;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 30px;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        margin: 10px;
      }

      .dropdown {
        position: relative;

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          list-style: none;
          padding: 10px 0;
          margin: 0;
          display: none;
          flex-direction: column;
          z-index: 1;

          li {
            padding: 10px 20px;

            a {
              color: black;
              text-decoration: none;
              white-space: nowrap;
            }
          }
        }

        &:hover .dropdown-menu {
          display: block;
        }
      }

      .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;

        a {
          font-size: 18px;
        }
      }

      .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        .list {
          text-decoration: none;
          color: black;
          font-size: 20px;
          margin : 10px;
        }
      }
    }

    .tap_button1, .tap_button2 {
      text-decoration: none;
      color: black;
      font-size: 25px;
    }

    .clicked {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  }

  hr {
    width: 90%;
    margin: 0 auto;
  }
}

/* 푸터 스타일 */
footer {
  display: flex;
  justify-content: center;
  padding: 10px;

  .creator-button {
    font-family: "Gowun Batang", serif;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
}
