/* 메인 스타일 */
main {
  font-family: "Do Hyeon", sans-serif;

  .banner_image {
    width: 100%;
  }

  hr {
    width: 90%;
  }

  .asking-box-style {
    border: 2px solid rgb(176, 176, 176); /* 검은색 실선 테두리 */
    padding: 20px;
    gap: 10px;
    margin: 5px 300px;

    hr {
      width: 100%;
    }

    .form-style {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-style, .textarea-style {
        width: 90%;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .asking-button-style {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #001f3f;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #003366;
        }
      }
    }

    .ask {
      font-size: 30px; /* 글자 크기 키움 */
      font-weight: bold; /* 글자 굵게 */
    }

    .answer {
      font-size: 23px; /* 글자 크기 키움 */
    }
  }
}
  