.banner-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001840;
    height: 220px;
    .banner-words {
        font-size: 70px;
        margin: 70px 0px;
        background: linear-gradient(to left, #11FFFF, #5555FF);
        -webkit-background-clip: text;
        color: transparent;
    }

    .mypage {
        color: #ffffff;
        font-size: 25px;
        padding: 5px 10px; /* 패딩 추가 */
        margin-top: 160px;
        border: 2px solid #ffffff; /* 테두리 색상 */
        border-radius: 10px; /* 둥근 테두리 */
        align-self: flex-start; /* 좌측 정렬 */
        position: absolute; /* 추가 */
        left: 20px; /* 추가 */
        
    }
}