.login-container, .SignUp-box {
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin: 200px auto; /* 중앙 정렬을 위해 추가 */

  hr {
    margin: 10px;
  }
}

/* 입력 컨테이너 스타일 */
.input-container {
  margin: 10px 10px; /* 좌우 여백 10px 추가 */

  input[type="text"], input[type="password"], [type="name"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

/* 로그인 및 회원가입 버튼 스타일 */
.login-register-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  width: 70%;
  margin: 0 auto; /* 중앙 정렬 추가 */

  .new-button {
    background-color: #001f3f;
    color: white;
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:nth-child(2) {
      background-color: #d9e8fc;
      color: #001f3f;
    }
  }
}

.footer-buttons {
  margin : 10px;
}

/* 에러 메시지 스타일 */
.error-message {
  background-color: rgb(255, 0, 0); /* 배경색을 빨간색으로 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto; /* 중앙 정렬 추가 */
}
