/* WalkTrail.scss */

/* 메인 스타일 */
main {
  font-family: 'Gothic A1', sans-serif;
}

.banner_image {
  width: 100%;
}

hr {
  width: 90%;
}

.walk_trail {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;

  .box1 {
    padding: 100px 20px;
    margin: 10px;
    font-size: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .post {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-trails-message {
      font-size: 20px;
      color: #888;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .box2 {
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
  }

  .walk_trail_image {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .walk_trail_body {
    flex: 1;
    padding: 10px;
    line-height: 1.2;

    h1 {
      font-size: 24px;
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
  }

  .setting_button_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10px;

    .setting_button {
      font-family: "Gowun Batang", serif;
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.register_button_container {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .button-box {
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: "Nanum Gothic Coding", monospace;
    background: none;
    border: 2px solid #000;
    cursor: pointer;

    &:hover {
      pointer-events: none;
    }
  }
}
