// 전체 앱 스타일
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 높이 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

// 로고 스타일
.App-logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

// 헤더 스타일
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// 링크 스타일
.App-link {
  color: #61dafb;
}

// 애니메이션 정의
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}